# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template
.mxproject
DFU.code-workspace
.clang-format
.vscode/*
MDK-ARM/*
*.o
*.d
.eide/eide.json
.eide/eide.json
